body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

button {
  margin-right: 10px;
}

video,
img {
  border: 1px solid black;
  display: block;
  margin: 10px;
}

.webcam-container,
.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-direction: column;
}

.controls-container {
  flex-direction: column;
}

.controls-container div {
  margin-bottom: 10px;
}
